---
import Layout from '../layouts/Layout.astro';
import Project from '../components/Project.astro';

import memoryGame from '../assets/preview/memory-game.png'
import imdbPage from '../assets/preview/page-imdb.png'
import socialMedia from '../assets/preview/social-media.png'
import virtualStore from '../assets/preview/virtual-store.png'
import finance from '../assets/preview/finance.png'
import eccomerceRails from '../assets/preview/eccomerce-rails.png'
---
<Layout title="Jhan Carlos | Projects">
  <main class="mx-[10%] lg:mx-[20%] 2xl:mx-[25%]">
    <div class="mt-20 mb-7">
      <h1 class="text-gray-black dark:text-white text-3xl font-bold mb-7">Projects</h1>
      <p class="text-gray-black dark:text-white/70 text-base">Here you’ll find a collection of projects that <span class="text-main-color font-semibold">I’ve developed and collaborated on</span>. From web applications and innovative tools to team collaborations, each project reflects <span class="text-main-color">my passion for technology</span> and my dedication to creating <span class="text-main-color">useful and efficient solutions</span>. Discover more description each one and see how I contribute to <span class="text-main-color font-semibold">transforming ideas into reality!</span></p>
    </div>
    <section class="grid grid-cols-1 md:grid-cols-2 mb-10 gap-4">
      <Project
        title='Social Media'
        image={socialMedia}
        description='Social media where you can upload posts, see posts, follow people, and more.'
        technologies={['Nextjs', 'Tailwind', 'Nestjs', 'TypeScript', 'PostgreSQL', 'AWS', 'TypeORM']}
        githubUrl='https://github.com/orgs/FullStack-Elite-Bootcamp-IV/repositories'
        liveUrl=''
        type="FullStack"
      />
      <Project
        title='Virtual Store'
        image={virtualStore}
        description='A simple E-commerce, with basic function like see products, login, registe add to cart etc...'
        technologies={['React', 'TypeScript', 'Tailwind', 'Nestjs', 'TypeORM', 'PostgreSQL']}
        githubUrl='https://github.com/FrankiNarvaez/frontend-virtual-store'
        liveUrl=''
        type="FullStack"
      />
      <Project
        title='Memory Game'
        image={memoryGame}
        description='A simple memory game made with HTML without JavaScript.'
        technologies={['HTML5', 'CSS3']}
        githubUrl='https://github.com/FrankiNarvaez/memory-game'
        liveUrl='https://memory-game-html5-css3.netlify.app/'
        type="FrontEnd"
      />
      <Project
        title='IMDb Page'
        image={imdbPage}
        description='IMDB page to search for movies and series, and see their details.'
        technologies={['React', 'JavaScript']}
        githubUrl='https://github.com/FrankiNarvaez/IMDB-page'
        liveUrl='https://imdb-pag.netlify.app/'
        type="FrontEnd"
      />
      <Project
        title='Finance'
        image={finance}
        description='Manage your personal finances.'
        technologies={['Rails', 'PostgreSQL']}
        githubUrl='https://github.com/FrankiNarvaez/Finance'
        liveUrl='https://finance.jhancarlos.me'
        type="FullStack"
      />
      <Project
        title='Eccomerce'
        image={eccomerceRails}
        description='Eccomerce made with Ruby On Rails, where you can create an acount and up your products, and a litte more.'
        technologies={['Rails', 'PostgreSQL']}
        githubUrl='https://github.com/FrankiNarvaez/E-commerce-Rails'
        liveUrl=''
        type="FullStack"
      />
    </section>
  </main>
</Layout>
