---
import Project from "./Project.astro";

import memoryGame from '../assets/preview/memory-game.png'
import imdbPage from '../assets/preview/page-imdb.png'
import socialMedia from '../assets/preview/social-media.png'
import { Icon } from 'astro-icon/components'

import { Image } from 'astro:assets'

const tecnologies = ['Nextjs', 'Tailwind', 'Nestjs', 'TypeScript', 'PostgreSQL', 'AWS', 'TypeORM']
---

<h3 id='Projects' class='text-main-color text-5xl font-bold mb-8 mx-[10%] lg:mx-[20%] 2xl:mx-[25%] mt-4'>Projects</h3>
<section class="mx-[10%] lg:mx-[20%] 2xl:mx-[25%]">
  <div class="flex flex-col md:flex-row justify-between gap-10">
    <Project
      title='Memory Game'
      image={memoryGame}
      about='A simple memory game made with HTML without JavaScript.'
      tecnologies={['HTML5', 'CSS3']}
      github='https://github.com/FrankiNarvaez/memory-game'
      view='https://memory-game-html5-css3.netlify.app/'
      type="FrontEnd"
    />
    <Project
      title='IMDb Page'
      image={imdbPage}
      about='IMDB page to search for movies and series, and see their details.'
      tecnologies={['React', 'JavaScript']}
      github='https://github.com/FrankiNarvaez/IMDB-page'
      view='https://imdb-pag.netlify.app/'
      type="FrontEnd"
    />
  </div>
  <section class='bg-gray-color/10 hover:bg-opacity-100 p-2 mt-10 rounded-3xl w-full flex justify-between flex-col-reverse md:flex-row relative drop-shadow-md'>
    <div class="absolute right-2 backdrop-blur-md bg-slate-600/40 py-1 px-2 rounded-xl text-white m-2 z-20">FullStack</div>
    <section class="max-w-80">
      <section>
        <h3 class='text-2xl text-main-color font-bold mb-4 mt-4 md:mt-0'>Social Media</h3>
        <p class="text-base mb-2 text-gray-black dark:text-text-white">Social media where you can upload posts, see posts, follow people, and more.</p>
      </section>
      <section class='flex flex-wrap'>
        {tecnologies?.map((tecnology: string) => (
          <section class='flex gap-1 md:gap-3 items-center mr-3 mt-3 bg-main-color/10 px-2 py-1 rounded-3xl'>
            <Icon name={tecnology} size={20}/>
            <p class="text-sm text-gray-black dark:text-text-white">{tecnology}</p>
          </section>
        ))}
      </section>
      <section class='flex mt-4'>
        <a href='https://github.com/orgs/FullStack-Elite-Bootcamp-IV/repositories' target="_blank" class='flex gap-1 md:gap-3 mr-3 bg-main-color/10 p-2 rounded-xl'>
          <Icon name="GitHub" size={20} class="text-gray-black dark:text-white-color" />
          <p class="text-sm text-gray-black dark:text-text-white">GitHub</p>
        </a>
      </section>
    </section>
    <div class="rounded-2xl md:mb-4 overflow-hidden">
     <Image src={socialMedia} alt='Social Media' class='md:w-96 object-cover hover:scale-105 transition-all duration-300' draggable='false' />
    </div>
  </section>
  <a href="/projects" class="text-main-color font-bold mt-10 flex justify-center animate-pulse hover:underline hover:animate-none">More projects →</a>
</section>
