---
import { Icon } from 'astro-icon/components'

import { Image } from 'astro:assets'

interface Props {
  image: any;
	title: string;
  about: string;
  tecnologies: any;
  github: string;
  view: string;
}

const { title, image, tecnologies, github, view, about } = Astro.props;
---

<section class='bg-gray-color/10 hover:bg-opacity-100 p-5 rounded-xl hover:scale-[1.01] w-80 md:w-96'>
  <Image src={image} alt={title} class='rounded-md mb-4' />
  <section>
    <h3 class='text-3xl'>{title}</h3>
    <p class="text-xl">{about}</p>
  </section>
  <section class='flex my-3'>
    {tecnologies?.map((tecnology: string) => (
      <section class='flex gap-1 md:gap-3 items-center mr-3 bg-main-color/10 p-2 rounded-3xl'>
        <Icon name={tecnology} size={25}/>
        <p>{tecnology}</p>
      </section>
    ))}
  </section>
  <section class='flex'>
    <a href={github} target="_blank" class='flex gap-1 md:gap-3 mr-3 bg-main-color/10 p-2 rounded-xl'>
      <Icon name="GitHub" size={25}/>
      <p>GitHub</p>
    </a>
    {view !== '' && (
      <a href={view} target="_blank" class='flex gap-1 md:gap-3 bg-main-color/10 p-2 rounded-xl'>
        <Icon name="code" size={25}/>
        <p>View</p>
      </a>
    )}
  </section>
</section>